<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guanke.vinda.sawx.mapper.SaWechatAccessTokenMapper">
  <resultMap id="BaseResultMap" type="com.guanke.vinda.samodels.model.entity.SaWeChatAccessTokenEntity">
    <!--@mbg.generated-->
    <!--@Table sa_wechat_access_token-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="row_version" jdbcType="INTEGER" property="rowVersion" />
    <result column="delete_flag" jdbcType="INTEGER" property="deleteFlag" />
    <result column="access_token" jdbcType="VARCHAR" property="accessToken" />
    <result column="expires" jdbcType="INTEGER" property="expires" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, create_time, update_time, row_version, delete_flag, access_token, expires
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from sa_wechat_access_token
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectLastOne" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select *
    from sa_wechat_access_token
    order by create_time desc
    limit 1
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from sa_wechat_access_token
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.guanke.vinda.samodels.model.entity.SaWeChatAccessTokenEntity">
    <!--@mbg.generated-->
    insert into sa_wechat_access_token (id, create_time, update_time, 
      row_version, delete_flag, access_token, 
      expires)
    values (#{id,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{rowVersion,jdbcType=INTEGER}, #{deleteFlag,jdbcType=INTEGER}, #{accessToken,jdbcType=VARCHAR}, 
      #{expires,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.guanke.vinda.samodels.model.entity.SaWeChatAccessTokenEntity">
    <!--@mbg.generated-->
    insert into sa_wechat_access_token
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="rowVersion != null">
        row_version,
      </if>
      <if test="deleteFlag != null">
        delete_flag,
      </if>
      <if test="accessToken != null">
        access_token,
      </if>
      <if test="expires != null">
        expires,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="rowVersion != null">
        #{rowVersion,jdbcType=INTEGER},
      </if>
      <if test="deleteFlag != null">
        #{deleteFlag,jdbcType=INTEGER},
      </if>
      <if test="accessToken != null">
        #{accessToken,jdbcType=VARCHAR},
      </if>
      <if test="expires != null">
        #{expires,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.guanke.vinda.samodels.model.entity.SaWeChatAccessTokenEntity">
    <!--@mbg.generated-->
    update sa_wechat_access_token
    <set>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="rowVersion != null">
        row_version = #{rowVersion,jdbcType=INTEGER},
      </if>
      <if test="deleteFlag != null">
        delete_flag = #{deleteFlag,jdbcType=INTEGER},
      </if>
      <if test="accessToken != null">
        access_token = #{accessToken,jdbcType=VARCHAR},
      </if>
      <if test="expires != null">
        expires = #{expires,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.guanke.vinda.samodels.model.entity.SaWeChatAccessTokenEntity">
    <!--@mbg.generated-->
    update sa_wechat_access_token
    set create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      row_version = #{rowVersion,jdbcType=INTEGER},
      delete_flag = #{deleteFlag,jdbcType=INTEGER},
      access_token = #{accessToken,jdbcType=VARCHAR},
      expires = #{expires,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>